/node_modules
node_modules/
/node_modules/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.idea/
.DS_Store
newrelic_agent.log
.nyc_output/
coverage/
npm-debug.log
package-lock.json
ecosystem.config.js
.ecosystem.config.js